<% provide(:title, "Home") %>
<%= provide(:description, 'Program Unity is a project to unify the many members of the world wide programming community. ') %>  
<%= provide(:keywords, 'program unity, programming alliance, programmer hangout, programmers, project unity') %>  

<div class="well no-margin" id="well-1">
  <div class="container-medium container">
    <div class="center jumbotron">
      <h1>Program Unity</h1>
      <h2>
        The Program Unity project is an attempt to unify the many programmers 
        around the world. There are three main goals for the Progam Unity project.
      </h2>
    </div>
    <div class="center column-left">Unify the programming community
    <br>
    <a href="#well-2">Unity</a>
    </div>
    <div class="center column-center verticalLine-red">Create a code of ethics for all programmers
    <br>
    <a href="#well-3">Ethics</a>
    </div>
    <div class="center column-right verticalLine-red">Maintain and grow the good name of the programming community
    <br>
    <a href="#well-4">PR</a>
    </div>
  </div>
</div>

<div class="well-2 no-margin" id="well-2">
  <div class="container-medium container">
    <div class="center column-left-large"> <h1>Coming soon</h1>
      <a href="#well-1">Go to Top</a>
    </div>
    <div class="center column-right-large verticalLine-gray">
      <h1>Coming soon</h1>
      <a href="#well-1">Go to Top</a>
    </div>
  </div>
</div>

<div class="well no-margin" id="well-3">
  <div class="container-medium container center">
    <h1>Coming soon</h1>
    <a href="#well-1">Go to Top</a>
  </div>
</div>

<div class="well no-margin" id="well-4">
  <div class="container-medium container center">
    <h1>Coming soon</h1>
    <a href="#well-1">Go to Top</a>
  </div>
</div>
