@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$logo-red: #CC4141;
$light-teal: #D0ECF5;

/* universal */

html {
  overflow-y: scroll;
}

body {
  font-family: 'Old Standard TT', serif;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.jumbotron {
  background-color: white;
  color: black;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-top: 30px;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* Wells */

.well-1 {
  @extend .well;
  background-color: $gray-lighter;
}

.well-2 {
  @extend .well;
  background-color: $light-teal;
}

/* header */

.navbar-default {
  background-color: white;
  border-bottom: 1px solid $gray-medium-light;
  height: 100px;
  .navbar-nav {
    position: absolute; 
    top: 40px;
    > li > a:hover {
      color: $logo-red;
    }
       }
}

.navbar-fixed-top {
  border-radius: 10px;
  height: 80px
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 3em;
  color: $logo-red;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Abril Fatface', cursive;
  &:hover {
    color: #ffbbbc;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
