<header class="navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "pro_u", root_path, id: "logo" %>
    <h3> The project for a more engaged and unified programming community</h3>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><% link_to "Sign Up", '#'%></li>
      </ul>
    </nav>
  </div>
</header>
